.button{
  padding:8px;
  border:none;
  border-radius:4px;
  background-color: var(--cor-primaria);
  color:white;
  cursor: pointer;
}
.buttonAction{
  display:flex;
  align-items: center;
  gap:.5rem;
}
.button:disabled{
  cursor:not-allowed;
  background-color:gray;
  color:white;
}